<section class="section projects" id="projects">
    <div class="container">
        <div class="section-box">
            <div data-aos="fade-up" data-aos-duration="1000">
                <h3 class="section-title">
                    <span class="n-section-title">03.</span> {{ projectsData.ProjectsTitle }}
                </h3>
            </div>
            <div *ngFor='let project of projectsData.ProjectsItens; let i = index' class="d-flex project-container"
                data-aos="fade-up" data-aos-duration="1000">
                <owl-carousel-o class="owl-carousel-o" [options]="customOptions">
                    <ng-container *ngFor='let img of project.Images'>
                        <ng-template carouselSlide>
                            <div class="img-container" id="imgContainer">
                                <img [src]="img" [alt]="project.Title" class='img-feature-project rounded'>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <div class="img-feature-project-container" data-aos="fade-up" data-aos-duration="1000" *ngIf="i%2==0">
                    <div class="img-feature-project-box">
                        <div class="img-container" style='width: auto;'><img [src]="project.Images"
                                [alt]="project.Title" width='600px' class="img-feature-project rounded"></div>
                    </div>
                </div>
                <div [class.project-info-right]='i%2==0' [class.project-info-left]='i%2!=0' class="h-100"
                    style="background-image: url('{{project.Images}}');">
                    <div class="project-box">
                        <h4 [class.text-right]='i%2==0' [class.text-left]='i%2!=0' class="feature-project">{{
                            projectsData.ProjectsLabel }}</h4>
                        <h5 [class.text-right]='i%2==0' [class.text-left]='i%2!=0' class="project-name">{{ project.Title
                            }}</h5>

                        <div class="project-description-box" (click)='debug()'>
                            <p class="mb-0" [innerHTML]="project.Description">
                            </p>
                        </div>
                        <ul [class.justify-content-end]='i%2==0' [class.justify-content-start]='i%2!=0'
                            class="project-skills">
                            <li *ngFor='let technology of project.Technologies' class="ml-3">
                                <span class="underline technology">{{technology}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <owl-carousel-o class='owl-carousel-o' [options]="customOptions" *ngIf="i%2!=0">
                    <ng-container *ngFor="let img of project.Images">
                        <ng-template carouselSlide [id]="projectsData.Title">
                            <div class='img-container'>
                                <img class='img-feature-project rounded' [src]="img" [alt]="project.Title">
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <div class="img-feature-project-container" data-aos="fade-up" data-aos-duration="1000" *ngIf="i%2!=0">
                    <div class="img-feature-project-box">
                        <div class="img-container" style='width: auto;'>
                            <img class='img-feature-project rounded' [src]="project.Images[0]" [alt]="project.Images[0]"
                                width='600px'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>