<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>Ola! Eu sou o </h1>
                </div>
                <div class='banner-title'>
                    <h2>João Paulo.</h2>
                    <h3>Fullstack Development / Transformação digital</h3>
                </div>
                <div class='banner-description'>
                    <p [innerHTML]='bannerData.Description' class="mt-4"></p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")'
                    href="mailto:joao.diasest@gmail.com" target="_black" class="main-btn">
                    {{bannerData.ActionBtn}}
                </a>
            </div>
        </div>
    </div>
</section>